# Occupations Analysis

# Table of Contents

* [lambda x:x[1])](#first-lambda)
* [lambda x: x.upper()](#second-lambda)

## first lambda

In [13]:
import csv

with open("occupations-truncated.csv") as csv_file:
    csv_reader = csv.reader(csv_file, delimiter = ',')
    
    #Getting list of tuples which has level as detail and the Occupation title contains either data or computer
    list_detail_ComputerOrData = [(x[1],int(x[4].replace(',', '').replace('$',''))) for x in csv_reader.__iter__() if (x[2] == 'detail' and ('computer' in x[1].lower() or 'data' in x[1].lower()))]
    
    #Getting occupation title and annual mean wage of max annual mean wage
    print("Maximum:",max(list_detail_ComputerOrData,key=lambda x:x[1]))
    
    #Getting occupation title and annual mean wage of min annual mean wage
    print("Minimum:",min(list_detail_ComputerOrData,key=lambda x:x[1]))

Maximum: ('Computer and Information Systems Managers', 161730)
Minimum: ('Data Entry Keyers', 35850)

In [1]:
import nelta as nt

#reading the csv file
data_table = nt.read_csv('occupations-truncated.csv')

#display the number of rows and columns for your Table
print(data_table.shape())

(1034, 5)

In [2]:
#Show columns of the table
print(data_table.columns)

['Occupation code', 'Occupation title', 'Level', 'Employment', 'Annual mean wage']

In [3]:
#Displaying first 4 rows of dataset
print(data_table.head(4))

           Occupation code       Occupation title                  Level             Employment       Annual mean wage
  0                00-0000        All Occupations                  total            139099570.0                $56,310
  1                11-0000 Management Occupations                  major              7947300.0               $126,480
  2                11-1000         Top Executives                  minor              2601070.0               $129,920
  3                11-1011       Chief Executives                 detail               202360.0               $197,840

In [4]:
last_four = data_table.tail(4)
last_four.index

[1030, 1031, 1032, 1033]

In [5]:
print(last_four['Employment'])

1030 12050.0
1031 120850.0
1032 12610.0
1033 26300.0

In [6]:
for value in last_four['Employment'].values:
    print(value)

12050.0
120850.0
12610.0
26300.0

In [7]:
print(last_four[['Occupation title','Employment']]) #Works even without print()

                                Occupation title                                Employment
  1030                          Wellhead Pumpers                                   12050.0
  1031 Refuse and Recyclable Material Collectors                                  120850.0
  1032         Tank Car, Truck, and Ship Loaders                                   12610.0
  1033        Material Moving Workers, All Other                                   26300.0

In [8]:
details = data_table[[x == 'detail' for x in data_table['Level'].values]]
print(len(details.index))

772

In [9]:
my_filter = details['Employment'] < 500
print(type(my_filter))

<class 'nelta.LabeledList'>

In [10]:
my_filter[3]

False

In [11]:
details[my_filter]

               Occupation code         Occupation title                    Level               Employment         Annual mean wage
  508                  35-2013 Cooks, Private Household                   detail                    320.0                  $46,810
  916                  51-7032      Patternmakers, Wood                   detail                    190.0                  $60,750

In [12]:
rare_occ = details[my_filter]

## second lambda

In [13]:
rare_occ['Occupation title'].map(lambda x: x.upper()) #lambda function

508 COOKS, PRIVATE HOUSEHOLD
916 PATTERNMAKERS, WOOD

In [14]:
second_filter = [float(x.replace("$","").replace(",","")) > 200000 for x in data_table['Annual mean wage'].values]

In [15]:
print(data_table[second_filter])

                                    Occupation code                              Occupation title                                         Level                                    Employment                              Annual mean wage
  383                                       29-1022               Oral and Maxillofacial Surgeons                                        detail                                        4120.0                                      $234,990
  384                                       29-1023                                 Orthodontists                                        detail                                        5040.0                                      $237,990
  385                                       29-1024                               Prosthodontists                                        detail                                         530.0                                      $214,870
  407                                       29-1211                             Anesthesiologists                                        detail                                       28590.0                                      $271,440
  408                                       29-1215                    Family Medicine Physicians                                        detail                                       98590.0                                      $214,370
  409                                       29-1216          General Internal Medicine Physicians                                        detail                                       50600.0                                      $210,960
  410                                       29-1218               Obstetricians and Gynecologists                                        detail                                       18900.0                                      $239,120
  412                                       29-1223                                 Psychiatrists                                        detail                                       25540.0                                      $217,100
  413                                       29-1228 Physicians, All Other; and Ophthalmologist...                                        detail                                      375390.0                                      $218,850
  414                                       29-1248             Surgeons, Except Ophthalmologists                                        detail                                       37900.0                                      $251,650